name: Build, Test & Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: income

      - name: Run tests
        run: npm test
        working-directory: income

      - name: Build Docker image
        run: docker build -t income-service:latest .
        working-directory: income
